scikit-learn==0.21.3
miditoolkit==0.1.14
fastBPE
dtw-python
nltk
keras
tqdm
matplotlib
pretty_midi
PyYAML
pypianoroll
fairseq==0.10.0
torch==1.7.1
transformers==3.5.1
pypinyin==0.39.1
jieba==0.42.1
tensorboard==2.4.0
scipy==1.3.1
librosa
pyworld
soundfile
pyOpenSSL
secrets
miditoolkit==0.1.16
lyricsgenius==3.0.1
requests==2.27.1
spotipy==2.19.0
fairseq @ git+https://github.com/pytorch/fairseq.git@b8ea8a9b72c82192da07e3377adf4ebbde16716d
torch @ https://download.pytorch.org/whl/cu111/torch-1.10.0%2Bcu111-cp37-cp37m-linux_x86_64.whl
fairseq=='0.10.0'
SoundFile==0.10.3.post1
phonemizer==3.1.1
tensorflow==2.7.0
nltk==3.6.2
gpt-2-simple==0.8.1
tqdm==4.62.3
pandas==1.2.3

